@import "tailwindcss";

@theme {
  --default-font-family: sans-serif;
}
@custom-variant dark (&:is(.dark *));

html { 
  scroll-behavior: smooth; 
}

/* 1. The Global Backgrounds */
body { 
  margin: 0; 
  min-width: 320px; 
  background-color: #f4f7fb; 
  @apply text-slate-900 transition-colors duration-500;
}

html.dark body {
  background-color: #0b1120;
  @apply text-slate-300;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}